<h1>Welcome!</h1>
<table class="table">
  <tbody>
    <tr>
      <td><b>FIRST NAME</b></td>
      <td>{{first_name}}</td>
    </tr>
    <tr>
      <td><b>LAST NAME</b></td>
      <td>{{last_name}}</td>
    </tr>
    <tr>
      <td><b>EMAIL NAME</b></td>
      <td>{{email}}</td>
    </tr>
    <tr>
      <td><b>YEAR</b></td>
      <td>{{year}}</td>
    </tr>
    <tr>
      <td><b>MAJOR</b></td>
      <td>{{major}}</td>
    </tr>
    <tr>
      <td><b>DEGREE</b></td>
      <td>{{degree}}</td>
    </tr>
  </tbody>
</table>